#color_strip_horizontal{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background: linear-gradient(darkcyan, darkslategray);
    height:100%;
    border: outset;
    border-color: darkcyan;
}

#color_strip_vertical{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: linear-gradient(darkred, brown);
  height:80px;
  border: outset;
  border-color: darkred;
}

#error_text{
    position: absolute;
    left: 350px;
    top: 65px;
}

h1{
    width: 40%;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-size: xx-large;
    font-weight: bold;
    background-position: center top; 
    background: linear-gradient(gold,red);
}

textarea{
    font-size:14px;
    border:#999 1px solid;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0); 
    height: 20px;
}

#item_box{
    width: 200px;
    position: absolute;
    left: 420px; 
    top: 100px;
}

#item_text{
    position: absolute;
    left: 350px;
    top: 99px;
}

#date_box{
    width:100px;
    position: absolute;
    left: 420px;
    top: 140px;
}

#date_text{
    position: absolute;
    left: 350px;
    top: 139px;
}

#priority_box{
    position: absolute;
    left: 420px;
    top: 180px;
}

#priority_text{
    position: absolute;
    left: 350px;
    top: 179px;
}

input[type=submit]{
    width: 5em;  height: 2em;
    font-weight: 600;
    text-align: center;
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
/*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
}

input[type=submit]:hover{
    background-color :#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

#clear_button{
    position: absolute;
    left: 409px;
    background-color: #FF6666;
    color:#000;
    top: 220px;
}

#enter_button{
    position: absolute;
    left: 350px;
    top: 220px;
}

#list_items{
    position: absolute;
    left: 350px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

tr{
    border: 1px solid black;
    height:30px;
}

td{
    border: 1px solid black;
}

#item_column{
    width: 150px;
}

#date_column{
    width: 110px;
    text-align: center;
}

#priority_column{
    width: 40px;
    text-align: center;
}